.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link {
    color: #000
}

.main-header {
    background : url(../imagenes/foto3.jpg);
    background-size: cover;
    min-height: 400px;
}
